* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.background {
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/fondoinicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.nav-page {
    padding: 0 20px;
}

.nav-link:hover {
    background-color: #3a7688;
}

.link {
    color: black;
}

.link:hover {
    text-decoration: underline 2px;
    color: blue;
}

.footer-link {
    color: rgb(219, 219, 219);
}

.footer-link:hover {
    text-decoration: underline 2px;
    color: blue;
}

input {
    border: 2px solid black;
    padding: 5px !important;
    height: 2rem !important;
}

input:invalid:required {
    border: 2px solid red;
    background: #e95b5b;
    color: #000;
}

h1 {
    font-weight: normal;
    font-size: 55px;
    font-family: Arial;
}

h2 {
    font-weight: normal;
    font-size: 45px;
    font-family: Arial;
}

h3 {
    font-weight: normal;
    font-size: 35px;
    font-family: Arial;
}

h4 {
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
}

input:valid {
    border: 2px solid black;
}

.contact-form button {
    padding: 10px 40px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 0, 0);
    outline: none;
    transition: all 300ms;
}

.contact-form button:hover {
    background: rgb(56, 122, 245);
    color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
}

.comentarios {
    background-color: #ffffff;
    width: 60%;
    height: 40%;
}