.nav-page {
    padding: 0 20px;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: large;
}

.nav-link:hover {
    background-color: #3a7688;
}

.link {
    color: black;
}

.link:hover {
    text-decoration: underline 2px;
    color: blue;
}

.footer-link {
    color: rgb(219, 219, 219);
}

.footer-link:hover {
    text-decoration: underline 2px;
    color: blue;
}

.bg-img {
    background-image: url(../images/fondoinicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}