.politics {
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/fondoinicio.jpg);
    background-size: cover;
}

h1 {
    font-weight: normal;
    font-size: 55px;
    font-family: Arial;
}

h2 {
    font-weight: normal;
    font-size: 45px;
    font-family: Arial;
}

h3 {
    font-weight: normal;
    font-size: 35px;
    font-family: Arial;
}

h4 {
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
}

.nav-page {
    padding: 0 20px;
}

.nav-link:hover {
    background-color: #3a7688;
}

.link {
    color: black;
}

.link:hover {
    text-decoration: underline 2px;
    color: blue;
}

.footer-link {
    color: rgb(219, 219, 219);
}

.footer-link:hover {
    text-decoration: underline 2px;
    color: blue;
}